<style>
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #000; 
    }

    .nav-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .nav-item {
        margin-right: 20px;
    }

    .nav-link {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    .logo img {
        align-items: right; /* Push the logo to the right */
        width:10%;
    }
</style>
<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item logo">
            <a href="/" class="nav-link">
                <img src="https://www.zarla.com/images/zarla-omni-rental-1x1-2400x2400-20211115-3kr99wqyqqyccv3mkdrf.png?crop=1:1,smart&width=250&dpr=2">
            </a>
        </li>
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="/signup" class="nav-link">Signup</a></li>
    </ul>
</nav>

