body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000000;
    padding: 10px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-link:hover {
    color: #007bff;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #fefefe;
}

label {
    margin-bottom: 8px;
    color: #ffffff;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


/* ???????????? */

/* public/styles/styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://images.wallpaperscraft.com/image/single/land_rover_car_suv_190509_3840x2160.jpg');
    background-size: cover;
    background-position: center 0%; /* Adjusted position to bring the image down */
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 255, 0.5); /* Blue with 50% transparency */
    color: #fff; /* White text */
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #fdfdfd;
}

h3 {
    color: #007bff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #000000;
    color:  #007bff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #000000;
    color:  #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: rgba(0, 0, 255, 0.5); /* Blue with 50% transparency */
    color: #fff; /* White text */
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}