<!DOCTYPE html>
<html lang='en'>
<head>
     <!-- Set the character encoding -->
    <meta charset="UTF-8"/>
    <!-- Set the viewport for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link to the main stylesheet -->
    <link rel="stylesheet" href="/styles.css">
    <!-- Link to the signup-specific stylesheet -->
    <link rel="stylesheet" href="/signup.css">
    <!-- Link to the login-specific stylesheet -->
    <link rel="stylesheet" href="/login.css">
    <!-- Set the title of the HTML document -->
    <title> Haddad's Rental Shop</title>
</head>
<body>
    <!-- Include the body content dynamically -->
    <%- body %>
</body>
</html>
